#q1{
	margin-left: 10%
}

#q2{
	margin-left: 11%;
	width:78%;
	height:200px;
	text-align: center;
}

#q3{
	margin-left: 10%; 
	width:80%;
	height:75px;
	text-align: center;
}

#main{
	margin-left: 10%;
	width:80%;
	height:800px;
}

.a1{
	width:26%;
	height:100px;
	float:left;
}

.a2{
	width:40%;
	height:75px;
	float: left;
}

.b1{
	font-family: "宋体";
	font-weight: bold;]
	text-align: center;
}

