#q1,#q2{
	margin-left: 10%
}

#q3{
	margin-left: 10%; 
	width:80%;
	height:150px;
	text-align: center;
}

#main{
	margin-left: 10%; 
	width:80%;
	height:600px;
}

#q4{
	margin-left: 11%; 
	width:78%;
	height:75px;
	text-align: center;
}

.a1{
	width:25%;
	height:100px;
	float:left;
}

.a2{
	width:33%;
	height:75px;
	float: left;
}

.b1{
	font-family: "ו";
	font-weight: bold;]
	text-align: center;
}

.button1{
	width: 100%;
	background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

.button1:hover{
	background-color: gray;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1:active{
	background-color: green;
}

.c1{
	color: #FF9900;
	font-weight: bold;
}

.c2{
	color: #CC0000;
	font-weight: bold;
}

.c3{
	color: #33CCFF;
	font-weight: bold;
}

.c4{
	color: black;
	font-weight: bold;
}
